In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee': 50}
sr = pd.Series(data, name= '국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [ ]:
sr+2 # 2가 브로드캐스팅 되어 1차원으로 확장되어 동일한 인덱스씩 2가 더해짐

aa    12
bb    22
cc    32
dd    42
ee    52
Name: 국어점수, dtype: int64

In [6]:
#문제: 세금 3.3을 제한 실수령액을 구하시오.
salary = pd.Series([1000,2000,3000,4000])
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

- boolean indexing
- [[True,False,...]]

In [ ]:
sr[ [True,False,False,True,True] ] #True 값만 선택되어 출력

aa    10
dd    40
ee    50
Name: 국어점수, dtype: int64

In [14]:
sr>=30

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [ ]:
sr[sr>=30] # sr[ [True,False,False,True,True] ]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [ ]:
sr[ (sr==20) | (sr==40) ]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [17]:
sr[(sr>=20) & (sr<=40)]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [19]:
sr[sr.index == 'aa']

aa    10
Name: 국어점수, dtype: int64

In [ ]:
# (sr==20) | (sr==40)
# sr.isin([20,40])
sr[sr.isin([20,40])] #멤버 함수 isin 사용 #where deptno in 과 동일

bb    20
dd    40
Name: 국어점수, dtype: int64

In [ ]:
# Series.between(left, right, inclusive='both')
# inclusive{“both”, “neither”, “left”, “right”}

# (sr>=20) & (sr<=40)
# sr.between(20,40)

# (sr>20) & (sr<40)
# sr.between(20,40,inclusive=“neither”)

In [ ]:
#where salary between 1000 and 2000
sr[sr.between(20,40)] #(sr>=20) & (sr<=40)

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [ ]:
### Q) 국어 점수가 20 또는 40이 아닌 값
sr[~sr.isin([20,40])] ## where deptno not in (20,40)

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64