In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

In [2]:
data = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee': 50}
sr = pd.Series(data, name= '국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr.sum()

np.int64(150)

In [4]:
sr.mean()

np.float64(30.0)

In [5]:
sr.max()

np.int64(50)

In [6]:
sr.min()

np.int64(10)

In [7]:
sr.idxmax()

'ee'

In [8]:
sr.idxmin()

'aa'

In [9]:
###Q) 45 이하인 데이터의 가장 큰값을 구하시오.
sr[sr<=45].max() # 메모리 측면에서는 효율이 더 좋음

np.int64(40)

In [10]:
sr1 = sr[sr<=45]
sr1.max() # sr<=45를 계속 사용한다면 이게 더 좋음

np.int64(40)

In [11]:
sr.head() #sql의 limit와 동일

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [12]:
sr.head(3) #맨 위에 3개 값 limit 3

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [13]:
sr.tail(3) # 맨 아래 3개

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [14]:
sr.nlargest(2) #top 구하기

ee    50
dd    40
Name: 국어점수, dtype: int64

In [15]:
sr.loc['cc'] = 40

In [16]:
sr.nlargest(2, keep='last')

ee    50
dd    40
Name: 국어점수, dtype: int64

In [17]:
sr.nlargest(2, keep='all') # 동율인거 다 나오게 하기

ee    50
cc    40
dd    40
Name: 국어점수, dtype: int64

In [18]:
sr.nsmallest(2) # 가장 작은거 두개

aa    10
bb    20
Name: 국어점수, dtype: int64

In [19]:
sr.std()

np.float64(16.431676725154983)

In [20]:
sr.var()

np.float64(270.0)

In [21]:
sr.median()

np.float64(40.0)

In [22]:
sr.quantile([0.25,0.5,0.75])

0.25    20.0
0.50    40.0
0.75    40.0
Name: 국어점수, dtype: float64

In [23]:
sr.unique() # 중복제거

array([10, 20, 40, 50])

In [24]:
sr.value_counts() # 해당 데이터의 갯수를 시리즈로 알려줌

국어점수
40    2
10    1
20    1
50    1
Name: count, dtype: int64

In [25]:
sr.value_counts().loc[40] # 결과가 시리즈 임으로 속성 메서드 loc[] 호출

np.int64(2)

In [26]:
# 9.96 < 1 번째 <= 18.0
# 18.0 < 2 번째 <= 26.0
# 18.0 < 3 번째 <= 26.0
# 34.0 < 4 번째 <= 42.0
# 42.0 < 5 번째 <= 50.0

In [27]:
pd.cut(sr, 5) # 계급을 나눔

aa    (9.96, 18.0]
bb    (18.0, 26.0]
cc    (34.0, 42.0]
dd    (34.0, 42.0]
ee    (42.0, 50.0]
Name: 국어점수, dtype: category
Categories (5, interval[float64, right]): [(9.96, 18.0] < (18.0, 26.0] < (26.0, 34.0] < (34.0, 42.0] < (42.0, 50.0]]

In [28]:
pd.cut(sr, 5).value_counts().sort_index()

국어점수
(9.96, 18.0]    1
(18.0, 26.0]    1
(26.0, 34.0]    0
(34.0, 42.0]    2
(42.0, 50.0]    1
Name: count, dtype: int64

In [29]:
pd.cut(sr,[0,20,40,60]) # 3개의 계급으로 나눔

aa     (0, 20]
bb     (0, 20]
cc    (20, 40]
dd    (20, 40]
ee    (40, 60]
Name: 국어점수, dtype: category
Categories (3, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60]]

In [30]:
pd.cut(sr,[0,20,40,60], labels=['C','B','A']) # 라벨 지정 가능

aa    C
bb    C
cc    B
dd    B
ee    A
Name: 국어점수, dtype: category
Categories (3, object): ['C' < 'B' < 'A']

### 조건별 apply

In [31]:
def fn(v):
    # print('v =', v)
    # print('='*10)
    # if v<=30:
    #     return v+1
    # else:
    #     return v+2
    return v+1 if v<=30 else v+2

In [32]:
sr.apply(fn)

aa    11
bb    21
cc    42
dd    42
ee    52
Name: 국어점수, dtype: int64

In [33]:
sr.apply(lambda v: v+1 if v<=30 else v+2)

aa    11
bb    21
cc    42
dd    42
ee    52
Name: 국어점수, dtype: int64

In [34]:
### Q) 40점 이상이면 합격 아니면 불합격 인 시리즈를 구하시오.
sr.apply(lambda v: '합격' if v>=40 else '불합격')

aa    불합격
bb    불합격
cc     합격
dd     합격
ee     합격
Name: 국어점수, dtype: object

### 반복문

In [35]:
for v in sr: #sr.values
    print(v)

10
20
40
40
50

In [37]:
for i in sr.index:
    print(i)

aa
bb
cc
dd
ee

In [38]:
for i,v in sr.items():
    print(i,v)

aa 10
bb 20
cc 40
dd 40
ee 50

In [ ]:
sr.diff() # 이전보다 증가했는지 감소 했는지 , 시계열에서 중요

aa     NaN
bb    10.0
cc    20.0
dd     0.0
ee    10.0
Name: 국어점수, dtype: float64

In [ ]:
sr.diff(periods=2) # 이전 이전의 데이터와 비교

aa     NaN
bb     NaN
cc    30.0
dd    20.0
ee    10.0
Name: 국어점수, dtype: float64

In [40]:
sr

aa    10
bb    20
cc    40
dd    40
ee    50
Name: 국어점수, dtype: int64