In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

In [2]:
sr = pd.Series( [90,90,55,60,76,80,76,88,30,25],
               name="국어점수" )
sr.index=['홍길동','이순신','임꺽정','정난정',
         '이이','이황','정도전','김철수1',
          '김철수2','김철수3']
sr

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

( 연습문제 )
1. 국어점수가 가장큰값을 구하시요
2. 국어점수가 가장큰값의 이름을 구하시요
3. 국어점수가 80점이상인 값을 구하시요
4. 국어 점수가 50점이상 80점이하인 값을 구하시요
5. 이름이 김으로 시작하는 데이터를 구하시요

In [3]:
sr.max()

np.int64(90)

In [4]:
sr.nlargest(1, keep='all').index

Index(['홍길동', '이순신'], dtype='object')

In [5]:
sr[sr==sr.max()].index.to_list()

['홍길동', '이순신']

In [6]:
sr[sr>=80]

홍길동     90
이순신     90
이황      80
김철수1    88
Name: 국어점수, dtype: int64

In [7]:
sr[sr.between(50,80)]

임꺽정    55
정난정    60
이이     76
이황     80
정도전    76
Name: 국어점수, dtype: int64

In [8]:
sr[sr.index.str.contains('^김')]

김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

In [9]:
sr_cut = pd.cut(sr, 10)
sr_cut.cat.categories

IntervalIndex([(24.935, 31.5],   (31.5, 38.0],   (38.0, 44.5],   (44.5, 51.0],
                 (51.0, 57.5],   (57.5, 64.0],   (64.0, 70.5],   (70.5, 77.0],
                 (77.0, 83.5],   (83.5, 90.0]],
              dtype='interval[float64, right]')

In [10]:
for n in sr_cut.cat.categories:
    print(n.left, n.right)

24.935 31.5
31.5 38.0
38.0 44.5
44.5 51.0
51.0 57.5
57.5 64.0
64.0 70.5
70.5 77.0
77.0 83.5
83.5 90.0