In [1]:
import pandas as pd
import numpy as np

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [14]:
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor':1, 'eng':2},
      {'kor':3, 'eng':4},
      {'kor':5, 'eng':6}]
d4 ={'kor':[1,3,5],'eng':[2,4,6]}
d5 =[ pd.Series([1,2,3]),pd.Series([4,5,6])]
d6 = [np.array([1,2,3]), np.array([4,5,6])]

In [5]:
df = pd.DataFrame(d1, index=['a','b','c'], 
                  columns=['kor', 'eng']) #2차원이라 컬럼인덱스도 같이 나옴
df

   kor  eng
a    1    2
b    3    4
c    5    6

In [6]:
df1 = pd.DataFrame(d2)
df1

   0  1
0  1  2
1  3  4
2  5  6

In [ ]:
df2 = pd.DataFrame(d3) #key 값이 자동으로 컬럼명으로 부여됨
df2

   kor  eng
0    1    2
1    3    4
2    5    6

In [ ]:
df3 = pd.DataFrame(d4) #딕셔너리 키값이 리스트
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [ ]:
df4 = pd.DataFrame(d5) # 넘파이가 행으로 출력
df4

   0  1  2
0  1  2  3
1  4  5  6

In [15]:
df5 = pd.DataFrame(d6) 
df5

   0  1  2
0  1  2  3
1  4  5  6