- numpy --> 판단스(편리한 데이터 분석 함수 추가 및 구조를 좀 더 쉽게, 
                    시계열 데이터, 다양한 데이터 읽을 수 有, 시각화)
- 1차원: Series
- 2차원: DataFrame
- 3차원 이상은 멀티 컬럼, 멀티 인덱스 사용

https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [6]:
import pandas as pd
import numpy as np

- [10,20,30]
- (10,20,30)
- { 'aa' :10, 'bb' :20, 'cc' : 30 }
- np.array( [10,20,30] ) 
- 리스트, 튜플 , 딕셔너리 다 1차원

In [10]:
d1 = [10,20,30]
d2 = (10,20,30)
d3 = { 'aa':10, 'bb':20, 'cc':30 }

In [ ]:
sr = pd.Series(d1 , index=['aa', 'bb', 'cc'],
                dtype=np.int32, name='국어 점수') #인덱스에 이름을 줄 수 있음, 라벨링 가능
sr

aa    10
bb    20
cc    30
Name: 국어 점수, dtype: int32

In [17]:
sr1 = pd.Series(d2)
sr1

0    10
1    20
2    30
dtype: int64

In [19]:
sr2 = pd.Series(d3)
sr2

aa    10
bb    20
cc    30
dtype: int64

In [20]:
sr3 = pd.Series(np.array([11,22,33]))
sr3

0    11
1    22
2    33
dtype: int64