In [1]:
import pandas as pd
import numpy as np

In [18]:
data = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee': 50}
sr = pd.Series(data, name= '국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 수정

In [3]:
sr[0] = 100 
# sr['aa'] = 100
# sr.aa = 100
# sr.iloc[0] = 100 # 권장
# sr.loc['aa'] = 100 # 권장

C:\Users\Dell3571\AppData\Local\Temp\ipykernel_23252\3047953021.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  sr[0] = 100

In [4]:
sr[1:4] = [1,2,3]
# sr[ 'bb':'dd' ] = [1,2,3]
# sr.iloc[1:4] = [1,2,3]
# sr.loc['bb':'dd'] = [1,2,3]

In [5]:
sr

aa    100
bb      1
cc      2
dd      3
ee     50
Name: 국어점수, dtype: int64

In [6]:
### Q) 30이상인 데이터에 5를 더한 값으로 수정하시오.
sr[sr>=30] = sr[sr>=30]+5

### 추가

In [13]:
sr.loc['ff'] = 66 # 해당 인덱스가 있으면 수정, 없으면 추가

In [12]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 삭제
sr.drop( [부여된 인덱스명] )
- numpy 
np.delete(arr,[인덱스,..])

In [ ]:
# sr.drop(['aa','dd']) #적용
sr.drop(['aa','dd'], inplace=True) #바로 삭제 적용

In [ ]:
### Q) 25 이상인 데이터를 삭제하시오
sr.drop(sr[sr>=25].index) # 부여된 인덱스명을 가져와야 함으로 .index로 부여된 인덱스명 추출

aa    10
bb    20
Name: 국어점수, dtype: int64

In [27]:
### Q) 25 이상인 데이터의 총합
sr[sr>=25].sum()

np.int64(120)

In [32]:
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

### 정렬

In [31]:
sr.iloc[0] = 100

In [ ]:
sr.sort_values() #오름차순 ascending=True

bb     20
cc     30
dd     40
ee     50
aa    100
Name: 국어점수, dtype: int64

In [ ]:
sr.sort_values(ascending=False) # 내림차순 ascending=False

aa    100
ee     50
dd     40
cc     30
bb     20
Name: 국어점수, dtype: int64

In [35]:
sr.sort_index() #a-z

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [37]:
sr.sort_index(ascending=False) #인덱스 기준 내림차순

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64