In [1]:
import pandas as pd
import numpy as np

In [7]:
sr = pd.Series(['홍길동','이순신','김철수','김순이','이홍김'])
sr.index=['aa','bb','cc','dd','ee']
sr

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
dtype: object

### 데이터가 문자열 : str
- sr.str
- sr.index.str

In [3]:
print(type(sr.str))

<class 'pandas.core.strings.accessor.StringMethods'>

In [8]:
sr.str[0]

aa    홍
bb    이
cc    김
dd    김
ee    이
dtype: object

In [9]:
sr.str[-1]

aa    동
bb    신
cc    수
dd    이
ee    김
dtype: object

In [10]:
sr.str[1:]

aa    길동
bb    순신
cc    철수
dd    순이
ee    홍김
dtype: object

In [11]:
sr.index.str[0]

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
sr[sr.str.contains('홍')] #where name rlike '홍'

aa    홍길동
ee    이홍김
dtype: object

In [ ]:
sr[sr.str.contains('^홍')] # 홍으로 시작

aa    홍길동
dtype: object

In [ ]:
sr[sr.str.contains('김$')] # 김으로 끝나는 것

ee    이홍김
dtype: object

In [ ]:
sr[sr.str.contains('[홍이]')] # 홍 또는 이

aa    홍길동
bb    이순신
dd    김순이
ee    이홍김
dtype: object

In [ ]:
sr[sr.str.contains('[홍이]순')] #contains을 통해 정식 패턴 매칭

bb    이순신
dtype: object

In [20]:
sr[sr.str.contains('길동|순이|이홍')] # 또는

aa    홍길동
dd    김순이
ee    이홍김
dtype: object

In [ ]:
sr[sr.index.str.contains('a')] # 인덱스에 a라는 글자가 있는 것

aa    홍길동
dtype: object

In [5]:
sr

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    홍이김
dtype: object

### 문자열 바꾸기

In [ ]:
sr.replace('홍길동',' 테스트') # sr.replace는 정확하게 일치해야 변경 가능, 정규식 패턴 미적용

aa     테스트
bb     이순신
cc     김철수
dd     김순이
ee     이홍김
dtype: object

In [27]:
# sr.str.replace('홍','테스트') # 정규식 패턴 적용
sr.str.replace('김$','테스트',regex=True) # 정규식 패턴 적용 -> 김으로 끝나는것 만 변경

aa      홍길동
bb      이순신
cc      김철수
dd      김순이
ee    이홍테스트
dtype: object