In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

In [4]:
birthDF = pd.read_csv('data/births.csv', index_col='year')
birthDF

         boys    girls
year
1880    90993   110491
1881    91954   100745
1882   107850   113688
1883   112321   104629
1884   129022   114445
...       ...      ...
2007  1919408  2072139
2008  1887234  2036289
2009  1832925  1979303
2010  1772738  1913851
2011  1753500  1893230

[132 rows x 2 columns]