In [18]:
import pandas as pd
import numpy as np

In [19]:
data =  {'eng':[10,30,50,70,60],
         'kor':[20,40,60,80,75],
         'math':[90,50,20,70,30]}
df = pd.DataFrame(data, index=['a','b','c','d','e'] , dtype=np.int16)
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70
e   60   75    30

In [20]:
df.ndim #몇차원인가?

2

In [21]:
df.shape #몇행몇열?

(5, 3)

In [22]:
df.size

15

In [23]:
df.T

       a   b   c   d   e
eng   10  30  50  70  60
kor   20  40  60  80  75
math  90  50  20  70  30

In [24]:
df.dtypes #시리즈.속성메소드

eng     int16
kor     int16
math    int16
dtype: object

In [25]:
df.dtypes.loc['eng']

dtype('int16')

In [26]:
# 必 처음에 다양한 소스로부터 데이터를 읽으면 컬럼 정보를 반그시 확인해야한다. 必
df.info() # info() 함수 사용 多, dtypes 보다 많은 정보를 보여줌

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     5 non-null      int16
 1   kor     5 non-null      int16
 2   math    5 non-null      int16
dtypes: int16(3)
memory usage: 242.0+ bytes

In [27]:
df.values #.속성메서드 호출(ndarray)

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70],
       [60, 75, 30]], dtype=int16)

In [28]:
df.index #Index 클래스(리스트로 출력)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [29]:
df.columns #Index 클래스

Index(['eng', 'kor', 'math'], dtype='object')